body {
  background-color: #000;
  color: #fff; }

.container {
  padding: 0 15px; }
  .container--fluid {
    width: 100%;
    max-width: 1500px;
    min-width: 1024px;
    margin: 0 auto; }

.row {
  margin: 0 -15px;
  display: flex; }

.col {
  margin: 0 15px;
  width: calc(100% - 30px); }
  .col--half {
    width: calc(50% - 30px); }

.header {
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 10px; }
  .header__title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0; }
    .header__title__wrapper {
      width: 80%;
      margin: 0 auto; }

.filter {
  display: flex;
  flex-grow: 1;
  background-color: #7a7172; }
  .filter__wrapper {
    position: relative;
    display: flex;
    margin-bottom: 10px; }
  .filter__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 10px;
    margin: 5px 0; }
    .filter__section:not(:last-child) {
      border-right: 2px solid #fff; }
    .filter__section__title {
      margin-right: 10px; }
    .filter__section__input {
      position: absolute;
      width: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      pointer-events: none; }
      .filter__section__input:checked + .filter__section__input__label {
        background-color: #0000fe; }
      .filter__section__input__btn {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column; }
      .filter__section__input__group {
        display: flex;
        flex-direction: column;
        align-self: stretch; }
        .filter__section__input__group--with-col {
          flex-direction: row; }
        .filter__section__input__group[data-filter-name="size"] .filter__section__input__label {
          padding: 5px;
          justify-content: space-between; }
          .filter__section__input__group[data-filter-name="size"] .filter__section__input__label__img {
            margin-left: 5px;
            width: 25px; }
        .filter__section__input__group[data-filter-name="price"] .filter__section__input__label {
          justify-content: center; }
        .filter__section__input__group[data-filter-name="category"] .filter__section__input__group__col:first-child {
          margin-right: 20px; }
        .filter__section__input__group[data-filter-name="category"] [data-filter-value="person&animals"] + .filter__section__input__label:before {
          background-image: url("../img/category/person_animals.jpg"); }
        .filter__section__input__group[data-filter-name="category"] [data-filter-value="flowers&foods"] + .filter__section__input__label:before {
          background-image: url("../img/category/flower_foods.jpg"); }
        .filter__section__input__group[data-filter-name="category"] [data-filter-value="landscape"] + .filter__section__input__label:before {
          background-image: url("../img/category/landscape.jpg"); }
        .filter__section__input__group[data-filter-name="category"] [data-filter-value="moving&objects"] + .filter__section__input__label:before {
          background-image: url("../img/category/moving_objects.jpg"); }
        .filter__section__input__group[data-filter-name="category"] .filter__section__input__label {
          position: relative; }
          .filter__section__input__group[data-filter-name="category"] .filter__section__input__label__title {
            width: 50%;
            font-size: 14px;
            line-height: 1;
            padding: 3px; }
          .filter__section__input__group[data-filter-name="category"] .filter__section__input__label:before {
            content: '';
            position: absolute;
            right: 3px;
            top: 3px;
            bottom: 3px;
            left: calc(50% + 6px);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
        .filter__section__input__group__col {
          display: flex;
          flex-direction: column; }
      .filter__section__input__label {
        cursor: pointer;
        width: 120px;
        font-size: 12px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 1px;
        margin: 1px;
        background-color: #0e0c0d;
        border-radius: 5px; }
        .filter__section__input__label__img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          flex-shrink: 0; }

.filter__clear-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .filter__clear-overlay__btn {
    display: block;
    box-shadow: unset;
    outline: 0;
    border: 0;
    background-color: #FFF176;
    padding: 5px 25px;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    width: 30%;
    max-width: 350px; }
    .filter__clear-overlay__btn:hover {
      color: #000;
      text-decoration: none; }
    .filter__clear-overlay__btn:active {
      color: #000; }

.filter__wrapper--clear-overlay .filter__clear-overlay {
  display: flex; }

.filter__aside {
  width: 115px;
  padding: 10px;
  margin-left: 10px;
  background-color: #7a7172;
  display: flex;
  align-items: stretch;
  justify-content: stretch; }
  .filter__aside__btn {
    outline: 0;
    box-shadow: unset;
    border: 0;
    border-radius: 5px;
    padding: 2px;
    line-height: 1;
    font-size: 14px;
    background-color: #282423;
    color: #fff; }
    .filter__aside__btn:hover, .filter__aside__btn:focus, .filter__aside__btn:active {
      outline: 0; }

.filter__switch {
  display: flex;
  flex-direction: column;
  background-color: #7a7172;
  padding-right: 49px; }
  .filter__switch__input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none; }
    .filter__switch__input:checked + .filter__switch__input__label {
      cursor: default; }
      .filter__switch__input:checked + .filter__switch__input__label .filter__switch__input__label__inner {
        color: #fff;
        background-color: #7a7172;
        box-shadow: unset; }
      .filter__switch__input:checked + .filter__switch__input__label:before {
        background-color: #fe0000; }
      .filter__switch__input:checked + .filter__switch__input__label:after {
        background-color: #7a7172;
        box-shadow: unset !important; }
    .filter__switch__input__btn {
      flex-grow: 1;
      display: flex; }
      .filter__switch__input__btn:first-child .filter__switch__input__label:after {
        transform: skewX(-45deg) translateX(50%);
        box-shadow: inset 2px 2px 2px #7c7c7c; }
    .filter__switch__input__label {
      height: 49px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      position: relative;
      cursor: pointer; }
      .filter__switch__input__label__inner {
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: #afafaf;
        padding-left: 16px;
        background-color: #dddddd;
        box-shadow: inset 2px 2px 2px #7c7c7c;
        line-height: 1; }
      .filter__switch__input__label:before {
        position: absolute;
        left: 5px;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 6px;
        background-color: #afafaf;
        border-radius: 2px;
        z-index: 2; }
      .filter__switch__input__label:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 49px;
        width: 49px;
        width: 50px;
        background-color: #dddddd;
        transform: skewX(45deg) translateX(50%);
        box-shadow: inset -2px 2px 2px #7c7c7c; }

.product-detail__preview__carousel {
  transition: opacity .15s ease-in-out; }
  .product-detail__preview__carousel__wrapper {
    position: relative;
    padding: 0 45px; }
  .product-detail__preview__carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .product-detail__preview__carousel__item img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
    .product-detail__preview__carousel__item__wrapper {
      width: 100%;
      padding-top: 75%;
      position: relative; }
  .product-detail__preview__carousel .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .product-detail__preview__carousel .gallery-top {
    width: 100%; }
  .product-detail__preview__carousel .gallery-thumbs {
    box-sizing: border-box; }
    .product-detail__preview__carousel .gallery-thumbs .swiper-slide {
      width: 50%;
      height: 100%;
      opacity: 0.4; }
    .product-detail__preview__carousel .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1; }

.product-detail__preview__info {
  display: flex;
  flex-direction: column; }
  .product-detail__preview__info__description {
    margin-bottom: 0; }
  .product-detail__preview__info__lens-type {
    margin-bottom: 0;
    font-weight: 700; }
  .product-detail__preview__info__price {
    margin-bottom: 0; }
  .product-detail__preview__info__category {
    display: flex;
    position: relative;
    align-items: center;
    margin: 5px;
    width: calc(50% - 10px);
    height: 50px;
    border-radius: 5px;
    background-color: #777;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    overflow: hidden; }
    .product-detail__preview__info__category:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .product-detail__preview__info__category[data-category="person&animals"]:before {
      background-image: url("../img/category/person_animals.jpg"); }
    .product-detail__preview__info__category[data-category="flowers&foods"]:before {
      background-image: url("../img/category/flower_foods.jpg"); }
    .product-detail__preview__info__category[data-category="landscape"]:before {
      background-image: url("../img/category/landscape.jpg"); }
    .product-detail__preview__info__category[data-category="moving&objects"]:before {
      background-image: url("../img/category/moving_objects.jpg"); }
    .product-detail__preview__info__category__title {
      color: #fff;
      font-size: 14px;
      width: 50%;
      padding: 5px;
      word-break: break-word;
      line-height: 1; }
    .product-detail__preview__info__category--active {
      opacity: 1; }
    .product-detail__preview__info__category__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: auto -5px; }
  .product-detail__preview__info__btn {
    display: block;
    box-shadow: unset;
    outline: 0;
    border-radius: 10px;
    border: 0;
    background-color: #777;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700; }
    .product-detail__preview__info__btn:hover {
      color: #fff;
      text-decoration: none; }
    .product-detail__preview__info__btn:active {
      color: #fff; }

.grid {
  position: relative; }

.item {
  display: block;
  position: absolute;
  width: calc(25% - 10px);
  margin: 5px;
  z-index: 1;
  visibility: hidden; }
  .item.muuri-item {
    visibility: visible;
    opacity: 1; }

.item.muuri-item-dragging {
  z-index: 3; }

.item.muuri-item-releasing {
  z-index: 2; }

.item.muuri-item-hidden {
  z-index: 0; }

.item-content {
  position: relative;
  width: 100%;
  height: 100%; }

.product-detail__grid {
  background-color: #fff;
  padding: 15px;
  overflow-y: auto;
  overflow-x: visible;
  height: 250px; }
  .product-detail__grid__title {
    font-size: 18px; }
    .product-detail__grid__title--small {
      font-size: 16px; }
  .product-detail__grid__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    transition: background-color .3s ease-in-out; }
    .product-detail__grid__item--active {
      background-color: #777; }
      .product-detail__grid__item--active .product-detail__grid__item__price {
        color: #FFF; }
    .product-detail__grid__item__wrapper {
      position: relative;
      width: 100%;
      padding-top: 100%; }
    .product-detail__grid__item__img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      width: auto; }
    .product-detail__grid__item__price {
      margin: auto 0;
      text-align: center;
      padding-top: 5px;
      color: #000;
      font-size: 18px;
      font-weight: 700;
      transition: color .3s ease-in-out; }

.product-gallery {
  transition: opacity .15s ease-in-out; }
  .product-gallery__wrapper {
    position: relative;
    padding: 0 45px; }
  .product-gallery__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .product-gallery__item img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
    .product-gallery__item__wrapper {
      width: 100%;
      padding-top: 66.7%;
      position: relative; }
  .product-gallery .swiper-wrapper {
    align-items: center; }
  .product-gallery .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .product-gallery .gallery-top {
    width: 100%; }
  .product-gallery .gallery-thumbs {
    box-sizing: border-box; }
    .product-gallery .gallery-thumbs .swiper-slide {
      width: 20%;
      height: 100%;
      opacity: 0.4; }
    .product-gallery .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1; }

.product-gallery__comment {
  background-color: #ccc;
  padding: 5px;
  color: #000;
  margin-bottom: 0;
  margin-top: 10px;
  min-height: 50px;
  flex-grow: 1;
  word-wrap: break-word; }
  .product-gallery__comment__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }

.product-slide__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.product-compare {
  overflow: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column; }
  .product-compare__active-group {
    order: -1; }
  .product-compare__heading {
    display: flex;
    align-items: center; }
    .product-compare__heading__title {
      font-size: 18px;
      margin-bottom: 0; }
    .product-compare__heading__btn {
      display: block;
      box-shadow: unset;
      outline: 0;
      border-radius: 10px;
      border: 0;
      background-color: #777;
      padding: 10px 15px;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700; }
      .product-compare__heading__btn:hover {
        color: #fff;
        text-decoration: none; }
      .product-compare__heading__btn:active {
        color: #fff; }
      .product-compare__heading__btn__wrapper {
        margin: 0 auto;
        display: flex;
        align-items: center; }
      .product-compare__heading__btn__label {
        margin-right: 10px; }
  .product-compare__header__label {
    width: 100px;
    border: 2px solid #777;
    border-radius: 10px;
    background-color: #ccc;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; }
  .product-compare__header__row {
    display: flex; }
    .product-compare__header__row__wrapper {
      display: flex;
      min-height: 50px; }
  .product-compare__header__item {
    width: 100px;
    margin: 5px 20px;
    transition: background-color .3s ease-in-out; }
    .product-compare__header__item--active {
      background-color: #777; }
    .product-compare__header__item__label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
    .product-compare__header__item__product-img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      flex-shrink: 0; }
    .product-compare__header__item__product-name {
      color: #DDD;
      margin: 0;
      font-size: 12px; }
    .product-compare__header__item__product-price {
      color: #DDD;
      margin: 0;
      font-size: 12px; }
  .product-compare__body__row {
    display: flex; }
    .product-compare__body__row__wrapper {
      display: flex;
      min-height: 50px; }
  .product-compare__body__label {
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .product-compare__body__item {
    width: 100px;
    margin: 5px 20px; }
    .product-compare__body__item__img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      flex-shrink: 0; }
